.title {
  .about-us &,
  .team &,
  .clients & {
    @include font(28px, 700, 1.18);
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .title {
    .about-us &,
    .team &,
    .clients & {
      @include font(36px, 700, 1.17);
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
